<div>
  <div class="panel">
    <div class="panel-header">
      <div class="panel-title panel-with-icon" style="cursor: pointer">Angular.js组件</div>
      <div class="panel-icon icon-save"></div>
    </div>
  </div>
  <div id="p" class="easyui-panel panel-body" style="padding: 10px;">
    <a href="javascript:void(0)">选项卡</a>
    <a href="javascript:void(0)">侧边栏导航菜单</a>
    <a href="javascript:void(0)">分页</a>
  </div>
  <div class="panel" style="margin-top: 20px;">
    <div class="panel-header">
      <div class="panel-title panel-with-icon" style="cursor: pointer">原生JavaScript组件</div>
      <div class="panel-icon icon-save"></div>
    </div>
  </div>
  <div id="p" class="easyui-panel panel-body" style="padding: 10px;">
    <a href="javascript:void(0)">选项卡</a>
    <a href="javascript:void(0)">侧边栏导航菜单</a>
    <a href="javascript:void(0)">分页</a>
  </div>
  <iframe src="modules/frontEnd/components/a.html" frameborder="0" style="display: block;width: 100%;"></iframe>
</div>
