<div class="header fn-clear" ng-controller="HeaderController">
  <div class="panel layout-panel layout-panel-north layout-split-north"
       style="left: 0; top: 0; width: 1366px; cursor: s-resize;">
    <div style="overflow: hidden; height: 25px;line-height: 20px; color: rgb(255, 255, 255); font-family: 'Verdana', '微软雅黑', '黑体', 'sans-serif'; width: 1366px;" class="aaa layout-body panel-body panel-body-noheader panel-body-noborder" title="">
      <!--<span style="float:right; padding-right:20px;" class="head">前端</span>-->
      <span style="padding-left:10px; font-size: 16px; ">
        <img src="" style="width: 20px;">
        数慧前端基础平台
      </span>
    </div>
  </div>
</div>
