<div class="sidebar">
  <div class="panel layout-panel layout-panel-west layout-split-west" style="left: 0; top: 60px; width: 145px;">
    <div class="panel-header" style="width: 133px;">
      <div class="panel-title">导航菜单</div>
      <div class="panel-tool"><a href="javascript:void(0)" class="layout-button-left"></a></div>
    </div>
    <div style="height: 544px;" class="panel-body layout-body">
      <div class="easyui-accordion accordion">
        <div class="panel" ng-repeat="bar in module.sidebarList track by $index">
          <div class="panel-header accordion-header"
               style="height: 15px;"
               ng-click="openTab(bar)"
               ng-class="{active: bar==module.currentSidebar}">
            <div class="panel-title">
              <span class="{{bar.iconClass}}"></span>
              <span>{{bar.title}}</span>
            </div>
          </div>
          <div class="easyui-panel panel-body" style="padding: 10px;" ng-if="bar.subNav.length>0" ng-show="bar.showSubNav">
            <div class="sub-item"
                 ng-repeat="subNav in bar.subNav track by $index"
                 ng-class="{'active': subNav==module.currentSidebar}"
                 ng-click="openTab(subNav)">
              {{subNav.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
